/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 12, 2017, 9:24:43 PM
    Author     : Mike
*/
body{
    background-color: #99ccff;
    font-size: 1.25em;
}
